*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    border: solid 2px black;
    border-radius: 25px;
    margin: 0 auto;
    width: 690px;
    padding: 5px;
    font-family: sans-serif;
    font-weight: 800;
    box-shadow: 3px 3px 5px;
    background: whitesmoke;
}

header {
    padding: 50px 0;
    text-align: center;
    width: 100%;
    background: rgb(255,211,242);
    background: linear-gradient(180deg, #81e0f8 0%, rgb(255, 255, 255) 100%);
}
.container{
    display: flex;
}
.container .section{
    width: 350px;
    margin: 20px 50px;
}
.section .info{
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.info span , .info h3{
    font-size: 25px;
    font-weight: bold;
    margin: 0px 10px;
    font-family: sans-serif;
    color: white;
}
.show {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    height: 220px;
}

h2{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding: 45px;
}
div .selection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100px;
}
button {
    margin: 0 20px;
    padding: 0px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:white
}
img{
    width: 100px;
}
button:hover {
    opacity: 50%;
}
button:active {
    opacity: 100%;
    filter: invert(100%);
}

.win {
    background: #46a346;
}
.loss {
    background: #ad0202;
}

